//====================================================================================================
.header {

	// .header__container

	&__container {
		
		
	}

	// .header__body-top

	&__body-top {
		border-bottom: 1px solid #CCCCCC;
		@media (max-width:$mobile){
			//box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
			border-bottom: initial;
			position: relative;
			z-index: 10;
			min-height: rem(64);
			background-color: white;
		}
	}

	&__top-padding {
		padding: rem(12) 0px;
		display: flex;
		justify-content: space-between;
		//flex-wrap: wrap;
		align-items: center;
		@media (max-width:$mobile){
			 justify-content: initial; 
		}
	}
}
.header-top {

	// .header-top__logoandlocation

	&__logoandlocation {
		flex: 0 0 rem(329);
		display: flex;
		@include adaptiveValue("gap", 54, 30,1920,1120,1);
		align-items: center;
		@media (max-width: em(1120)){
			 flex:0 0 percent(133.85,335);
			 //flex-direction:column; 
			 gap:rem(5);
		}
		@media (max-width:$mobile){
			position: relative;
			z-index: 10;
			 width: 39.955%;
			 margin-left: rem(10);
		}
	}

	// .header-top__logo

	&__logo {
		flex: 0 0 percent(156,329);
		//padding-bottom: percent(34,329);
		@media (max-width: em(1120)){
			  //width: 100%;
			  //padding-bottom: 21.65%;
		}
		@media (max-width:$mobile){
			 //padding-bottom: 21.8%; 
		}
	}

	// .header-top__location

	&__location {
		padding-left: rem(30);
		background: url('@img/header/location.svg') left 50% no-repeat;
	}

	// .header-top__button

	&__button {
		font-size: rem(14);
		line-height: math.div(25 , 15);
		color: $mainDark;
		&_city {
			position: relative;
			&::after{
			content:'';
			position: absolute;
			width: 100%;
			height: 0;
			left: 0;
			bottom: 0px;
			border-top: 2px dashed #FFCD11;
		}
		}
		
		&_phone {
			@media (max-width:$mobile){
			 display: none; 
			}
		}
	}

	// .header-top__menu

	&__menu {
		@media (min-width:$mobile){
			 padding: 0px 5px; 
		}
	}

	// .header-top__right

	&__right {
		flex: 0 0 rem(304);
		display: flex;
		align-items: center;
		justify-content: space-between;
		//gap: 20px;
		@media (max-width:$tablet){
			flex: 0 0 auto;
			flex-direction: column;
			gap: rem(5);
		}
		@media (max-width:$mobile){
			//flex-basis: content;
			margin-left: auto;
		}
	}

	// .header-top__phone

	&__phone {
		display: inline-block;
		@media (max-width:$mobile){
			 display: flex;
			 gap: rem(14);
			 position: relative;
			 z-index: 10;
		}
	}

	// .header-top__phonelink

	&__phonelink {
		span{
			font-weight: 500;
			font-size: 20px;
			line-height: math.div(23 , 20);
			@media (max-width:$mobile){
				 display: none; 
			}
		}
		img {
			display: none;
			@media (max-width:$mobile){
				 display: block; 
			}
		}
	}

	// .header-top__phonetext

	&__phonetext {
		font-size: rem(11);
		line-height: math.div(12 , 11);
		color: #555;
		@media (max-width:$tablet){
			text-align: center;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}
}

.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background: #F4F4F4;
			padding: rem(150) rem(20) rem(50) rem(20);
			transition: left 0.3s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 64px;
				left: -100%;
				top: 0;
				background-color: rgb(255, 255, 255);
				box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
					z-index: 1;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: rem(20);
		row-gap: rem(5);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: 0px;
		}
	}

	// .menu__item

	&__item {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 3px;
		@media (max-width:$mobile){
			 width: 100%;
			 justify-content: space-between;
			 border-top: 1px solid #DBDBDB;
			 position: relative;
			 z-index: 0;
			 &:last-child {
				border-bottom: 1px solid #DBDBDB;
			 }
			 padding: rem(20) rem(20);
			 transition: all 0.3s;
			 &:hover{
				& + li {
					border-top: 0;
				}
				background: #FFC900;
				border-radius: 50px;

			}
			 //gap: 0;
		}
		&:first-child{
			@media (min-width:$mobile){
				 display: none; 
			}
		}
	}

	// .menu__link

	&__link {
		font-size: rem(15);
		line-height: math.div(18 , 15);
		color: $mainDark;
		transition: color 0.3s;
		
		@media (min-width:$mobile){
			&:hover{
				color: #ECBA00;
		}
		}
		@media (max-width:$mobile){
			 font-weight: 500; 
		}
	}

	// .menu__link-arrow

	&__link-arrow {
		display: flex;
		align-items: center;
		@media (max-width:$mobile){
			 transform: rotate(-90deg);
			 position: relative;
			 z-index: -1;
		}
	}
}

.header {

	// .header__body-bottom

	&__body-bottom {
		padding: rem(20) 0px;
		@media (max-width:$mobile){
			box-shadow: inset 0px 4px 10px -4px rgb(0 0 0 / 10%);
			 position: relative;
			 z-index: 10;
			 transition: background-color 0.3s;
			 .menu-open & {
				background-color: #f4f4f4;
			 }
		}
	}

	// .header__container

	&__container {
	}
}
.header-bottom {

	&__wrapper {
		display: flex;
		align-items: center;
		position: relative;
		@media (max-width:$mobile){
			 justify-content: space-between;
			 z-index: 10;
		}
	}
	// .header-bottom__navigation

	&__navigation {
		flex: 1 1 auto;
		position: relative;
		@media (max-width:$mobile){
			 position: relative;
			 z-index: 1; 
		}
	}

	// .header-bottom__list

	&__list {
		display: flex;
		//justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 40, 10,1920,375,1);
		row-gap: rem(10);
		position: relative;
		@media (max-width:$mobile){
			 margin-left: rem(20); 
		}
	}

	

	// .header-bottom__item

	&__item {
		position: relative;
		@media (max-width:$mobile){
			 width: 100%;
			 
		}
	}

	&__sublist {
		position: absolute;
		width: auto;
		top: 100%;
		transform: translateY(20%);
		left: 0;
		border-radius: 8px;
		padding: 20px 5px;
		visibility: hidden;
		background: #f4f4f4;
		transition: transform 0.3s;
		.header-bottom__item:hover & {
			visibility: visible;
			transform: translateY(10%);
		}
		
		@media (max-width:$mobile){
			&._sub-menu-open {
			visibility: visible;
		 }
			 position: fixed;
			 overflow: auto;
			 height: 100%;
			 width: 100%;
			 top: 64px;
			 left: -100%;
			 //background-color: rgb(127, 116, 138);
			 transition: left 0.3s;
			 .sub-menu-open & {
				left: 0;
				z-index: 11;
				padding: 40px 20px;
			 }
		}
	}

	&__subitem {
		padding: 0px 10px;
		
		&:not(:last-child) {
			margin-bottom:rem(20);
			
		}
		@media (max-width:$mobile){
			border-top: 1px solid #DBDBDB;
			padding: 20px 0px;
			&:last-child{
				border-bottom: 1px solid #DBDBDB;
			}
		}
	}

	&__sublink {
		white-space: nowrap;
		transition: color 0.3s;
		&:hover{
			color: #ECBA00;
		}
		@media (max-width:$mobile){
			 @include adaptiveValue("font-size", 25, 16,768,375,1);
			 white-space: initial;
		}
	}

	&__back {
		display: none;
		@media (max-width:$mobile){
			 display: flex;
			 align-items: center;
			 margin-bottom: rem(30);
			 
			 font-weight: 500;
			 font-size: rem(16);
			 line-height: math.div(19 , 16);
			 img {
				transform: rotate(90deg);
				margin-right: rem(10);
			 }
		}
	}

	// .header-bottom__link

	&__link {
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(19 , 16);
		color: $mainDark;
		transition: color 0.3s;
		&:hover{
			color: #ECBA00;
		}
	}

	// .header-bottom__actions

	&__actions {
	}
}
.actions-header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(20);
	@media (max-width:$mobile){
		 gap: 0;
		 position: relative;
			 z-index: 10;
	}
	// .actions-header-bottom__user

	&__user {
		display: flex;
		align-items: center;
		gap: rem(10);
		@media (max-width:$mobile){
			padding: 10px 12px;
			border: 1px solid #000000;
			border-radius: 8px;
			//gap: 0;
		}
	}

	// .actions-header-bottom__img

	&__img {
		position: relative;
	}

	// .actions-header-bottom__text

	&__text {
		font-size: rem(15);
		line-height: math.div(18 , 15);
		color: $mainDark;
		//display: none;
		
		&_one {
			@media (max-width:$mobile){
				 display: none; 
			}
		}

		&_two {
			@media (min-width:$mobile){
				 display: none; 
			}
		}
		
		@media (max-width:$mobile){
			&:last-child{
				display: block;
			} 
		}
		
	}

	// .actions-header-bottom__cart

	&__cart {
	}

	// .actions-header-bottom__quantity

	&__quantity {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -20%;
		left: 30%;
		font-weight: 800;
		//transform: translateX(-50%);
		font-size: rem(10);
		line-height: math.div(12 , 10);
		color: $mainDark;
		width: 18px;
		height: 18px;
		background: #ECBA00;
		border-radius: 10px;
	}
}

.item-first {

	&__spollers {
		width: 100%;
	}

	&__spollers-body {
		padding: rem(15) 0px;
	}

	&__spollers-title {
		@media (max-width:$mobile){
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__img {
		transform: rotate(-90deg);
		transition: transform 0.3s;
		._spoller-active & {
			transform: rotate(0);
		}
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		//padding-right: rem(10);
		display: block;
		position: relative;
		//width: rem(30);
		flex: 0 0 rem(24);
		height: rem(24);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background: #FFC900;
			border-radius: 7px;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

