//====================================================================================================
.header {

	// .header__container

	&__container {
		
		
	}

	// .header__body-top

	&__body-top {
		border-bottom: 1px solid #CCCCCC;
	}

	&__top-padding {
		padding: rem(12) 0px;
		display: flex;
		justify-content: space-between;
		//flex-wrap: wrap;
		align-items: center;
		@media (max-width:$mobile){
			 justify-content: initial; 
		}
	}
}
.header-top {

	// .header-top__logoandlocation

	&__logoandlocation {
		flex: 0 0 rem(329);
		display: flex;
		@include adaptiveValue("gap", 54, 30,1920,1120,1);
		align-items: center;
		@media (max-width: em(1120)){
			 flex:0 0 auto;
			 flex-direction:column; 
			 gap:rem(5);
		}
		@media (max-width:$mobile){
			position: relative;
			z-index: 10;
			 width: 39.955%;
			 padding-left: rem(10);
		}
	}

	// .header-top__logo

	&__logo {
		flex: 0 0 percent(156,329);
		padding-bottom: percent(34,329);
		@media (max-width: em(1120)){
			  width: 100%;
			  padding-bottom: 21.35%;
		}
		@media (max-width:$mobile){
			 padding-bottom: 21.500563%; 
		}
	}

	// .header-top__location

	&__location {
		padding-left: rem(30);
		background: url('@img/header/location.svg') left 50% no-repeat;
	}

	// .header-top__button

	&__button {
		font-size: rem(14);
		line-height: math.div(25 , 15);
		color: $mainDark;
		&_city {
			position: relative;
			&::after{
			content:'';
			position: absolute;
			width: 100%;
			height: 0;
			left: 0;
			bottom: 0px;
			border-top: 2px dashed #FFCD11;
		}
		}
		
		&_phone {
			@media (max-width:$mobile){
			 display: none; 
			}
		}
	}

	// .header-top__menu

	&__menu {
		@media (min-width:$mobile){
			 padding: 0px 5px; 
		}
	}

	// .header-top__right

	&__right {
		flex: 0 0 rem(304);
		display: flex;
		align-items: center;
		justify-content: space-between;
		//gap: 20px;
		@media (max-width:$tablet){
			flex: 0 0 auto;
			flex-direction: column;
			gap: rem(5);
		}
		@media (max-width:$mobile){
			//flex-basis: content;
			margin-left: auto;
		}
	}

	// .header-top__phone

	&__phone {
		display: inline-block;
		@media (max-width:$mobile){
			 display: flex;
			 gap: rem(14);
			 position: relative;
			 z-index: 10;
		}
	}

	// .header-top__phonelink

	&__phonelink {
		span{
			font-weight: 500;
			font-size: 20px;
			line-height: math.div(23 , 20);
			@media (max-width:$mobile){
				 display: none; 
			}
		}
		img {
			display: none;
			@media (max-width:$mobile){
				 display: block; 
			}
		}
	}

	// .header-top__phonetext

	&__phonetext {
		font-size: rem(11);
		line-height: math.div(12 , 11);
		color: #555;
		@media (max-width:$tablet){
			text-align: center;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}
}

.menu {

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: rgb(165, 144, 144);
			padding: rem(100) rem(15) rem(50) rem(15);
			transition: left 0.3s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 70px;
				left: -100%;
				top: 0;
				background-color: rgb(165, 144, 144);;
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		column-gap: rem(20);
		row-gap: rem(5);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: 25px;
		}
	}

	// .menu__item

	&__item {
		display: flex;
		align-items: center;
		gap: 3px;
		&:first-child{
			@media (min-width:$mobile){
				 display: none; 
			}
		}
	}

	// .menu__link

	&__link {
		font-size: rem(15);
		line-height: math.div(18 , 15);
		color: $mainDark;
		transition: color 0.3s;
		&:hover{
			color: #ECBA00;
		}
	}

	// .menu__link-arrow

	&__link-arrow {
		display: flex;
		align-items: center;
	}
}

.header {

	// .header__body-bottom

	&__body-bottom {
		padding: rem(10) 0px;
	}

	// .header__container

	&__container {
	}
}
.header-bottom {

	&__wrapper {
		display: flex;
		align-items: center;
		@media (max-width:$mobile){
			 justify-content: space-between; 
		}
	}
	// .header-bottom__navigation

	&__navigation {
		flex: 1 1 auto;
	}

	// .header-bottom__list

	&__list {
		display: flex;
		//justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 40, 10,1920,375,1);
		row-gap: rem(10);
	}

	// .header-bottom__item

	&__item {
	}

	// .header-bottom__link

	&__link {
		font-weight: 500;
		font-size: rem(16);
		line-height: math.div(19 , 16);
		color: $mainDark;
		transition: color 0.3s;
		&:hover{
			color: #ECBA00;
		}
	}

	// .header-bottom__actions

	&__actions {
	}
}
.actions-header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: rem(20);
	@media (max-width:$mobile){
		 gap: 0; 
	}
	// .actions-header-bottom__user

	&__user {
		display: flex;
		align-items: center;
		gap: rem(10);
		@media (max-width:$mobile){
			padding: 10px 12px;
			border: 1px solid #000000;
			border-radius: 8px;
			//gap: 0;
		}
	}

	// .actions-header-bottom__img

	&__img {
		position: relative;
	}

	// .actions-header-bottom__text

	&__text {
		font-size: rem(15);
		line-height: math.div(18 , 15);
		color: $mainDark;
		//display: none;
		&_one {
			@media (max-width:$mobile){
				 display: none; 
			}
		}
		
		@media (max-width:$mobile){
			&:last-child{
				display: block;
			} 
		}
		
	}

	// .actions-header-bottom__cart

	&__cart {
	}

	// .actions-header-bottom__quantity

	&__quantity {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -20%;
		left: 30%;
		font-weight: 800;
		//transform: translateX(-50%);
		font-size: rem(10);
		line-height: math.div(12 , 10);
		color: $mainDark;
		width: 18px;
		height: 18px;
		background: #ECBA00;
		border-radius: 10px;
	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		//width: rem(30);
		flex: 0 0 rem(24);
		height: rem(24);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(3);
			background: #FFC900;
			border-radius: 7px;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(2));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

